-- Thêm trạng thái Hợp đồng và Quyết toán
ALTER TABLE public.projects 
ADD COLUMN IF NOT EXISTS signature_status TEXT DEFAULT 'Chưa ký',
ADD COLUMN IF NOT EXISTS settlement_status TEXT DEFAULT 'Chưa quyết toán';

-- Thêm comment cho các cột
COMMENT ON COLUMN public.projects.signature_status IS 'Tình trạng ký: Chưa ký, Đã ký';
COMMENT ON COLUMN public.projects.settlement_status IS 'Tình trạng quyết toán: Chưa quyết toán, Đang quyết toán, Đã quyết toán';

